/astro/
/BraveSoftware/
/dconf/
/Electron/
/gh/
/github-copilot/
/gtk-3.0/
/kde.org/
/kitty/
/obsidian/
/pulse/
/session/
/xfce4/
/yay/
/kconf_updaterc/
/kdeglobals/
/kwalletrc/
/trashrc/
/pavucontrol.ini/
