@import "./theme.css";

* {
  font-family: 'JetBrains Mono Nerd Font', sans-serif;
}

window#waybar {
  background: transparent;
}

#battery,
#network,
#backlight,
#pulseaudio,
#clock,
#tray,
#custom-launcher,
#custom-changewall
{
  background: @primary-background;
  color: @primary-foreground;
  padding: 6px 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  margin: 4px;
}

#custom-launcher {
  background: @normal-blue;
  color: @primary-background;
  padding: 0px 10px;
  padding-left: 13px;
  font-size: 15px;
}

#workspaces {
  border-radius: 10px;
}

#workspaces button {
  color: @bright-black;
}

#workspaces button.active{
  color: @normal-white;
}

