@import "./theme.css";

* {
  font-family: 'JetBrains Mono Nerd Font', sans-serif;
}

window#waybar {
  background: transparent;
}

#battery,
#network,
#backlight,
#pulseaudio,
#clock,
#custom-launcher,
#custom-changewall,
#custom-changetheme,
#custom-screenshot,
#memory,
#cpu
{
  background: @primary-background;
  color: @primary-foreground;
  padding: 6px 15px;
  margin-top: 0px;
  margin-bottom: 6px;
  font-size: 15px;
}

#clock {
  font-weight: bold;
  background: @primary-background;
  color: @bright-green;
}

#custom-launcher {
  background: @primary-background;
  color: @normal-blue;
  padding: 0px 10px;
  padding-left: 13px;
  font-size: 15px;
  margin-left: 50px;
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
  color: @bright-green;
}

#backlight{
  color: @normal-yellow;
}

#memory, #pulseaudio{
  border-radius: 10px 0px 0px 10px;
}

#custom-screenshot, #clock, #battery{
  border-radius: 0px 10px 10px 0px;
}

#battery {
  margin-right: 50px;
}

#workspaces {
  border-radius: 10px;
}

#workspaces button {
  color: @bright-black;
}

#workspaces button.active{
  color: @normal-white;
}

